<div class="d-flex justify-content-left flex-wrap">
    
  {% for asset in page.assets -%}

      {%- if asset is containing(id) and asset is matching("[.](jpg|png)$") -%}
        {% set image = resize_image(path=asset, width=320, height=320) %}
        
     
        <a href="{{ get_url(path=asset) }}" target="_blank">
          <img src="{{ image.url }}" class="m-2" />
        </a>
     
     
      {%- endif %}
     
      {%- if asset is containing(id) and asset is matching("[.](mp4)$") -%}
        <video width="240" controls loop muted>
          <source src="{{ id }}.mp4 " type="video/mp4" class="m-2 me-auto">
        Your browser may not support HTML video tag
      </video>

      {%- endif %}
  
      {%- endfor %}
</div>