<div class="d-flex justify-content-left flex-wrap">
    
    {% for asset in page.assets -%}
  
        {%- if asset is containing(id) and asset is matching("[.](jpg|png)$") -%}
          {% set image = resize_image(path=asset, height=480, width=640, op="fit") %}
          
          <a href="{{ get_url(path=asset) }}" target="_blank">
            <img src="{{ image.url }}" class="m-2" />
          </a>
    
        {%- endif %}
    {%- endfor %}
  </div>