<div>
    {% for asset in page.assets -%}
      {%- if asset is containing(id) and asset is matching("[.](mp4)$") -%}
        <video width="240" height=""320" controls>
         <source src="{{ id }}.mp4 " type="video/mp4">
        </video>
      {%- endif %}
    {%- endfor %}
    </div>