$baseline: 1.5rem;

$background:#282828;
$color:#ebdbb2;

$links: #83a598;
$hover-links:#fb4934;
$visited-links:#d3869b;

$font-size: 1.125rem;
$font-family: Segoe UI,system-ui,-apple-system,sans-serif;
$line-height: 1.75;
$code_font: 400 1.125rem/1.75 SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

$quote-bg: #928374;
$quote-border: #3c3836 8px solid;
